/*Cascading Style Sheet for index.html*/
@font-face{
    font-family:"Noto Sans";
    src:local("Noto Sans"),url("../../fonts/noto_sans/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face{
    font-family:"Noto Sans Italic";
    src:local("Noto Sans"),url("../../fonts/noto_sans/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face{
    font-family:"Didact Gothic";
    src:local("Didact Gothic"),url("../../fonts/didact_gothic/DidactGothic-Regular.ttf") format("truetype");
}
@media screen and (min-width:1052px) and (min-height:478px){
    /*Cascading Style Sheet for index.html (for small screens)*/
    @font-face{
        font-family:"Noto Sans";
        src:local("Noto Sans"),url("../../fonts/noto_sans/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
    }
    @font-face{
        font-family:"Noto Sans Italic";
        src:local("Noto Sans"),url("../../fonts/noto_sans/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    }
    @font-face{
        font-family:"Didact Gothic";
        src:local("Didact Gothic"),url("../../fonts/didact_gothic/DidactGothic-Regular.ttf") format("truetype");
    }

    main{
        font-family:"Didact Gothic";
    }
    header{
        max-height:220px;
        min-height:120px;
        background-color: #ffffff;
    }
    .header_img img{
        padding:inherit;
        margin:auto;
        max-width:8%;
        min-width:8%;
        display:block;
    }
    .header_nav{
        text-align:center;
        display:flex;
        margin-left:40%;
        margin-right:50%;
        padding:inherit;
    }
    body{
        width:100%;
        margin:0;
    }
    body .index_section{
        width:100%;
        /*scroll-snap-points-y:repeat(300px);
        scroll-snap-type:y mandatory;
        scroll-snap-type:mandatory;
        overflow:auto;*/
    }
    body .index_section section{
        justify-content:center;
        align-items:center;
        width:100%;
        /*scroll-snap-align:start;*/
        padding-top:3.75rem;
        padding-bottom:6.25rem;
        padding-left:16px;
        padding-right:16px;
    }
    .index_section{
        text-align:justify;
        /*display:block;*/
        display:flex !important;
    }
    .section_welcome{
        background:linear-gradient(to right,rgba(242, 137, 137, 0.50),rgba(253, 0, 0, 0.50)),url("../../../resources/images/home_page/placeholder.jpg");
        background-size:cover;
        transition-property:all;
        transition-duration:1s;
            &:hover {
                background:linear-gradient(to right,rgba(242, 137, 137, 0.80),rgba(253, 0, 0, 0.80)),url("../../../resources/images/home_page/placeholder.jpg");
                background-size:cover;
                transform: scale(102.5%);
            }
    }
    .welcome_motto{
        font-size:2em !important;
    }
    .section_about{
        background:linear-gradient(to right,rgba(255, 255, 255, 0.50),rgba(233, 233, 233, 0.5)),url("../../../resources/images/home_page/");
        background-size:cover;
        transition-property:all;
        transition-duration:1s;
            &:hover {
                background:linear-gradient(to right,rgba(255, 255, 255, 0.80),rgba(233, 233, 233, 0.80)),url("../../../resources/images/home_page/");
                background-size:cover;
                transform: scale(102.5%);
            }
    }
    .section_vision{
        background:linear-gradient(to right,rgba(255, 235, 145, 0.5),rgba(255, 200, 0, 0.5)),url("../../../resources/images/home_page/");
        background-size:cover;
        transition-property:all;
        transition-duration:1s;
            &:hover {
                background:linear-gradient(to right,rgba(255, 235, 145, 0.80),rgba(255, 200, 0, 0.80)),url("../../../resources/images/home_page/");
                background-size:cover;
                transform: scale(102.5%);
            }
    }
    .section_forum{
        background:linear-gradient(to right,rgba(143, 173, 254, 0.5),rgba(0, 68, 255, 0.5)),url("../../../resources/images/home_page/");
        background-size:cover;
        transition-property:all;
        transition-duration:1s;
            &:hover {
                background:linear-gradient(to right,rgba(143, 173, 254, 0.80),rgba(0, 68, 255, 0.80)),url("../../../resources/images/home_page/");
                background-size:cover;
                transform: scale(102.5%);
            }
    }
    footer{
        font-family:"Didact Gothic";
        margin-left:16px;
        margin-right:16px;
    }
}

main{
    font-family:"Didact Gothic";
}
header{
    max-height:220px;
    min-height:120px;
    background-color: #ffffff;
}
.header_img img{
    padding:inherit;
    margin:auto;
    max-width:8%;
    min-width:8%;
    display:block;
}
.header_nav{
    text-align:center;
    display:flex;
    margin-left:40%;
    margin-right:50%;
    padding:inherit;
}
body{
    width:100%;
    margin:0;
}
body .index_section{
    width:100%;
    height:80vh;
    scroll-snap-points-y:repeat(300px);
    scroll-snap-type:y mandatory;
    scroll-snap-type:mandatory;
    overflow:auto;
}
body .index_section section{
    justify-content:center;
    align-items:center;
    max-width:100%;
    scroll-snap-align:start;
    padding-top:3.75rem;
    padding-bottom:6.25rem;
    padding-left:16px;
    padding-right:16px;
}
.index_section{
    text-align:justify;
    display:block;
}
.section_welcome{
    background:linear-gradient(to right,rgba(242, 137, 137, 0.50),rgba(253, 0, 0, 0.50)),url("../../../resources/images/home_page/placeholder.jpg");
    background-size:cover;
    transition-property:all;
    transition-duration:1s;
        &:hover {
            background:linear-gradient(to right,rgba(242, 137, 137, 0.80),rgba(253, 0, 0, 0.80)),url("../../../resources/images/home_page/placeholder.jpg");
            background-size:cover;
            transform: scale(102.5%);
        }
}
.welcome_motto{
    font-size:2em !important;
}
.section_about{
        background:linear-gradient(to right,rgba(255, 255, 255, 0.50),rgba(233, 233, 233, 0.5)),url("../../../resources/images/home_page/");
        background-size:cover;
        transition-property:all;
        transition-duration:1s;
            &:hover {
                background:linear-gradient(to right,rgba(255, 255, 255, 0.80),rgba(233, 233, 233, 0.80)),url("../../../resources/images/home_page/");
                background-size:cover;
                transform: scale(102.5%);
            }
}
.section_vision{
        background:linear-gradient(to right,rgba(255, 235, 145, 0.5),rgba(255, 200, 0, 0.5)),url("../../../resources/images/home_page/");
        background-size:cover;
        transition-property:all;
        transition-duration:1s;
            &:hover {
                background:linear-gradient(to right,rgba(255, 235, 145, 0.80),rgba(255, 200, 0, 0.8)),url("../../../resources/images/home_page/");
                background-size:cover;
                transform: scale(102.5%);
            }
}
.section_forum{
        background:linear-gradient(to right,rgba(143, 173, 254, 0.5),rgba(0, 68, 255, 0.5)),url("../../../resources/images/home_page/");
        background-size:cover;
        transition-property:all;
        transition-duration:1s;
            &:hover {
                background:linear-gradient(to right,rgba(143, 173, 254, 0.80),rgba(0, 68, 255, 0.80)),url("../../../resources/images/home_page/");
                background-size:cover;
                transform: scale(102.5%);
            }
}

.button-discord-link{
    display:flex;
    border-radius: 4px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.349);
    transition: transform 0.30s;
    padding:0.80em;
}
.button-discord-link img{
    max-width:32%;
    min-width:32%;
    margin-left:35%;
    margin-right:20%;
}
.button-discord-link{
    background-color: #5865F2;
    background: linear-gradient(to right, #5865F2 0%, #6f57b3 100%);
        &:hover {
            background: linear-gradient(to left, #5865F2 0%, #6f57b3 100%);
            transform: scale(102%);
        }
}

.button-instagram-link{
    display:flex;
    border-radius: 4px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.349);
    transition: transform 0.30s;
    padding:0.80em;
}
.button-instagram-link img{
    max-width:8%;
    min-width:8%;
    margin-left:45%;
    margin-right:50%;
}
.button-instagram-link{
    background-color: #ba58f2;
    background: linear-gradient(to right, rgb(255, 122, 0) 12.35%, rgb(255, 1, 105) 56.52%, rgb(211, 0, 197));
        &:hover {
            background: linear-gradient(to left, rgb(255, 122, 0) 12.35%, rgb(255, 1, 105) 56.52%, rgb(211, 0, 197));
            transform: scale(102%);
        }
}

.button-xwitter-link{
    display:flex;
    border-radius: 4px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.349);
    transition: transform 0.30s;
    padding:0.80em;
}
.button-xwitter-link img{
    max-width:8%;
    min-width:8%;
    margin-left:45%;
    margin-right:50%;
}
.button-xwitter-link{
    background-color: #000000;
        &:hover {
            transform: scale(102%);
        }
}

.forum_content:hover{
    backdrop-filter:blur 2px;
}
footer{
    font-family:"Didact Gothic";
    margin-left:16px;
    margin-right:16px;
}